In [13]:
import os
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import ast

In [10]:
file_path = Path.cwd() / "datasets" / "testdata.csv"
df = pd.read_csv(file_path)
df

,Index,Day,Time,Probability,Boosted Probability,Boosted People,Special Notes,Michael,Jacob,Gavin,...,Kurumi,Ethan,Chloe,Aidan,Justin,Lilly,Mudkip,Will,James,Denzel
0,0,Oct 1,0,"{0:0.75, 1:0.25}",NaN,NaN,mrs. johnson,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
1,1,Oct 1,20,"{0:0.75, 1:0.25}",NaN,NaN,mrs. johnson,0.0,0.0,NaN,...,NaN,0.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN
2,2,Oct 2,0,"{0:0.75, 1:0.25}",NaN,NaN,mrs. johnson,0.0,0.0,1.0,...,NaN,0.0,0.0,NaN,0.0,1.0,0.0,0.0,0.0,NaN
3,3,Oct 2,-1,"{0:0.75, 6:0.25}",NaN,NaN,horse derby,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,6.0,0.0,0.0,6.0,0.0,NaN
4,4,Oct 2,20,"{0:0.5, 1:0.35, 2:0.1, 3:0.04, 10:0.01}",NaN,NaN,mr. kim,0.0,0.0,0.0,...,2.0,2.0,1.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN
5,5,Oct 3,0,"{0:0.5, 1:0.35, 2:0.1, 3:0.04, 10:0.01}",NaN,NaN,mr. kim,2.0,1.0,0.0,...,2.0,2.0,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN
6,6,Oct 3,20,"{0:0.5, 1:0.35, 2:0.1, 3:0.04, 10:0.01}",NaN,NaN,mr. kim,1.0,1.0,NaN,...,NaN,1.0,NaN,NaN,2.0,1.0,NaN,NaN,0.0,NaN
7,7,Oct 4,0,"{0:0.5, 1:0.35, 2:0.1, 3:0.04, 10:0.01}",NaN,NaN,"mr. kim, two 1% pulls!",1.0,1.0,0.0,...,10.0,0.0,10.0,3.0,3.0,1.0,1.0,NaN,0.0,NaN
8,8,Oct 4,20,"{0:0.5, 1:0.35, 2:0.1, 3:0.04, 10:0.01}",NaN,NaN,mr. kim,0.0,1.0,2.0,...,NaN,0.0,2.0,2.0,2.0,1.0,1.0,NaN,0.0,NaN
9,9,Oct 5,0,"{0:0.5, 1:0.35, 2:0.1, 3:0.04, 10:0.01}",NaN,NaN,mr. kim,0.0,0.0,3.0,...,0.0,0.0,2.0,NaN,0.0,0.0,1.0,NaN,0.0,NaN
10,10,Oct 5,1,"{5:0.5, 8:0.35, 10:0.1, 18:0.04, 30:0.01}",NaN,NaN,giovanni,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Oct 5,-1,"{8:0.25, 0:0.75}",NaN,NaN,horse derby,0.0,NaN,0.0,...,0.0,0.0,0.0,8.0,0.0,8.0,0.0,8.0,8.0,NaN